.list {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.list-reset-padding {
    padding: 0 !important;
}

.display-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.list:hover {
    overflow-y: scroll;
}

.list-item-primary {
    font-size: 15px;
}

.list-item-secondary {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.header {
    background-color: rgb(238,238,238);
}

.header-primary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-primary-text {
    color: rgb(55, 73, 86);
}